@import "../../../scss/variables";


.back {
  a {
    display: flex;
    margin-left: 8px;
    align-items: center;
    gap: 16px;
  }

  span {
    font-size: 35px;
  }
    padding: 8px 0;

  border-radius: 3px;

  &:hover {
    background: rgba(0, 0, 0, 0.08);
  }
}

.file_list {
}
.loader{
  margin-top: 100px;
}

.file_item {
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding: 12px 0;
  transition: background-color 0.1s ease-in;
  border-radius: 3px;

  &:hover {
    background: rgba(0, 0, 0, 0.08);
  }

}

.file {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: flex-end;
  gap: 15px;
  font-weight: 400;
  font-size: 18px;
  color: var(--main_color);
  fill: var(--main_color);
  transition: all 0.3s ease-in;


}

.checkbox {
  position: relative;
  margin-left: 15px;

  width: 24px;
  min-width: 24px;
  height: 24px;

  input[type='checkbox'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    //display: none;
    width: 0;
    height: 0;
  }


  label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 24px;
    width: 24px;
    height: 24px;
    border: 3px solid var(--main_color);
    border-radius: 3px;
  }

  input:checked + label:after {
    display: flex;
    content: '\2713';
    justify-content: center;
    align-items: center;
    min-width: 24px;
    width: 24px;
    height: 24px;
    font-size: 20px !important;
    font-weight: 600;
    color: var(--file_checked) !important;
    background: var(--main_color);
    border-radius: 3px;
  }
}

.icon {
  min-width: 24px;
  width: 24px;
}

.file_name {
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}