@import "../../../scss/variables";

.dashboard {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: baseline;
  background: var(--dashboard_background);
  box-shadow: 0 0 6px 2px rgb(0 0 0 / 16%);
  padding: 15px 15px;
  border-radius: 3px;
  margin-bottom: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main_color);
  transition: 0.3s ease-in fill;

  &:hover {
    fill: var(--button_hover);
  }
}

.file-name-form {
  align-self: center;
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  max-width: 400px;

}

.file-name-input {
  padding-right: 40px !important;

}

.file-name-button {
  position: absolute;
  right: 0;
  background: transparent !important;
  border: none !important;
  font-size: 22px;
  font-weight: 700;
  color: var(--main_color);
  transition: color 0.3s ease-in;
}

.file-name-button:hover {
  color: var(--button_hover);

}