.profile_popup {
  display: flex;
  padding: 32px 17px;
  border-radius: 8px;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 16%);
  gap: 15px;
  flex-direction: column;
  width: 100%;
  max-width: 530px;
  background: var(--microsoft_taupe);

  //div:has(>svg) {
  //  display: flex;
  //  justify-content: center;
  //}
  h3 {
    font-weight: 700;
    font-size: 20px;
    color: var(--login_link_color);
  }
}

.logout_button {
  background: var(--microsoft_original_blue);
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 16%);
  color: var(--login_button_color);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  transition: background 0.3s ease-in;


  &:hover {
    background: var(--login_button_color_hover);

  }
}