.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading_1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}

.top_text {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 18px;
}

.cards {
  padding: 70px 17px ;
  display: flex;
  gap: 29px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card_item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
  max-width: 384px;
  height: 456px;
  border-radius: 8px;
  padding: 28px 32px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.16);

  p {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }


}

.card_premium {
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.16);
  background: var(--microsoft_original_blue);
  //background: var(--green);
  p{
    color: var(--white);
    span{
      color: var(--yellow);
    }
  }
  h3 {
    color: var(--yellow);
  }

}

.card_free, .card_basic {
  background: var(--dashboard_background);

}

.card_heading_3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: var(--green)
}

.price {
  span {
    font-size: 46px;
    font-weight: 700;
    color: var(--green)
  }
}
.description{
  text-align: center;
}

.link{
  width: 100%;
  margin-top: auto;
}
.button {
  margin-top: auto;
  width: 100%;
  background: var(--microsoft_taupe);

  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.16);
  color: var(--microsoft_light_grey);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.button_premium {
  background: var(--green);

}