@import "../../../scss/variables";

.textInput {
  width: 100%;
  background: var(--main_background);

}

.textInput:focus {
  //border-color: var(--main_color_focus) !important;
      box-shadow: 0 0 6px 1px var(--microsoft_ligth_blue);
}