.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;

}

.header__right {
  display: flex;
  align-items: center;
  gap: 40px;

  .header__menu {
    display: flex;
    gap: 40px;

    a {
      list-style: none;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: #03045E
    }
  }

  .login__button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 33px;
    background: #03045E;
    border: 2px solid #03045E;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    transition: all ease-in 0.2s;

    &:hover {
      background: #fff;
      color: #03045E;
    }
  }
}
