.background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.38);
  //background: #fff5;
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  pointer-events: all;
  transition: background-color 0.3s ease-in, backdrop-filter 0.3s ease-in;
}

.backgroundClosed {
  backdrop-filter: none;
  pointer-events: none;
  background: transparent;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
  pointer-events: all;
  z-index: 1000;
  background: #fff;
  width: 80%;
  max-width: 400px;
  height: 100vh;
  transition: left 0.3s ease-in-out;
}

.menuClosed {
  left: -100%;
}