@import "./scss/variables";

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  background: var(--main_background);
}

.wrapper {
  width: 100%;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1320px;

  }

}

.active {
  color: var(--menu_link_hover) !important;

  &:after {
    transform: scale(1) !important;
    width: 100% !important;
    //position: absolute;
    //left: 0;
    //bottom: -2px;
    //content: '';
    //width: 105%;
    //background: var(--microsoft_original_blue);
    //height: 2px;
  }
}
