@import "./scss/variables";

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  background: #F7F8FD;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  @media screen and (max-width: 1320px) {
    max-width: 1024px;
  }
  @media screen and (max-width: 1064px) {
    max-width: 768px;
  }
  @media screen and (max-width: 788px) {
    max-width: 375px;
    //min-width: 375px;

  }
}
